<!DOCTYPE html>
<html>
<head>
<title>Smart Home</title>
<link rel="stylesheet" href="/front-end/css/smartHome.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div id="login-box">
<div class="boxText">
Join Smart Home family to enjoy being home every minute
</div>

 <button  class="registerButton" type="submit" value="Register">Register</button>
  <button  class="loginButton" type="submit" value="Login">Login</button>
</div>
<div class="background-box">
</div>
</body>
</html>