html{
    width: 100%;

}

body {
  margin: 0em;
}

.nav {
  background: #ffc34d;
  background: -webkit-linear-gradient(to top, #ffc34d, #ffc34d);
  background: -moz-linear-gradient(to top, #ffc34d, #ffc34d);
  background: -o-linear-gradient(to top, #ffc34d, #ffc34d);
  background: linear-gradient(to top, #ffc34d, #8DC26F);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
      color: white;
    display: inline-block;
    font-size: 20px;
     padding: 20px; 


  }

  .nav li a {
    color: white;
    text-decoration: none;
    font-size: 0.7em;
}

.block{
    padding-top: 2em;
    margin-left: 4em;
    margin-right: 15em;
}


.row:after {
    content: "";
    display: table;
    clear: both;

  }

  .column {
    float: left;
    position: relative;
    text-align: center;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  input{
      padding:6em;
      border-radius: 1em;
      border:none;
      text-decoration: none;
      background-attachment: fixed;
      margin: 2em;
      width:70%;
      padding: 0;
      height: 50%;    
  }


  .textallign{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input:hover{
    width: 80%;
    height: 60%;
  }
  



